lang: es
project:
  title: Fundamentos de Informática
  type: website
  render: 
    - index.qmd
    - 'src/**/*.qmd'
  preview:
    port: 7777
    browser: false
  resources:
    - 'src/**/*.pdf'
  output-dir: _output
format:
  html:
    theme: [ src/_style/custom.scss]
    code-copy: true
    toc: true
    toc-location: left
    number-sections: true
    anchor-sections: true
    link-external-icon: true
  revealjs:
    # TODO: Selfcontained pages
    # embed-resources: true
    # Format Options
    revealjs-plugins:
      - tldraw
    date-format: long
    theme: [default, src/_style/custom.scss]
    # Slides
    incremental: false
    slide-number: true
    self-contained-math: true
    title-slide-attributes:
      data-background-image: src/_style/logos/unizar-black.svg
      data-background-size: auto 600px
      data-background-opacity: "0.30"
      data-background-color: "#223d71"
    code-copy: true
    # Slide Content
    logo: src/_style/logos/unizar-diis-white.svg
    smaller: true
    # Slide Tools
    overview: true
    chalkboard: false
    menu: true
    # Navigation
    progress: true
    touch: true
    # Code
    code-link: true
    code-overflow: wrap
    highlight-style: a11y
    # Execution
    execute:
      echo: true
    # Footnotes
    footnotes-hover: true
    reference-links: true
    reference-location: document
    footer: "Fundamentos de Informática"
    link-external-icon: true
    smooth-scroll: true
    link-external-newwindow: true
    mermaid: 
      theme: neutral
      format: svg
  # pdf:
  #   pdf-engine: lualatex
  #   documentclass: scrreprt
  #   fontsize: 15pt
  #   toc: false
  #   number-sections: true
  #   colorlinks: true
  #   highlight-style: github
